.demo__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 3rem 0;
  margin-bottom: 2rem;
}

.demo__container {
  width: 100%;
  max-width: 750px;
}

.demo__explanation {
  width: 100%;
  padding: 1rem 3rem;
}

.demo__title {
  color: $color-brand;
  font-weight: bolder;
  font-size: 1.4em;
  padding: 3rem 0;
  &::before {
    counter-increment: demo-title;
    content: counter(demo-title) '. ';
    color: $color-brand;
  }
}

.demo__button {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background: $color-brand;
  color: #f5f5f5;
  transition: all 0.2s ease-in-out;
  max-width: 300px;

  &:hover {
    background: lighten($color-brand, 10%);
  }
}

.demo__content {
  padding: 2rem 0;
  width: 100%;
}
