.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background: $color-london;
  transition: all 0.5s ease-in-out;
}

.footer__container {
  width: 100%;
  max-width: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  img {
    width: 100%;
    max-width: 50px;
    padding: 2rem 0;
  }
}

.footer__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  color: #d5d5d5;
  text-align: center;
  line-height: 18px;

  a {
    color: #d5d5d5;
    position: relative;
    &::after {
      transition: all 0.1s ease-in-out;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: #d5d5d5;
    }
    &:hover {
      color: #fff;
      &::after {
        width: 100%;
        background: #fff;
      }
    }
  }
}

.footer__color {
  transition: all 0.5s ease-in-out;

  margin-left: 6px;
  width: 18px;
  height: 18px;

  border-radius: 3px;

  display: inline-block;
}
