.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $color-oslo;
}
.header__container {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}
.header__item-container {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.header__item {
  padding: 4px 12px;
  margin: 0 6px;
}
.header__item-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  h1 {
    margin-left: 8px;
    color: $color-brand;
    font-size: 1.25em;
    font-weight: 900;
  }
}
.header__item-link {
  color: #f5f5f5;
  transition: all 0.1s ease-in-out;
  position: relative;
  &::after {
    transition: all 0.1s ease-in-out;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #f5f5f5;
  }
  &:hover {
    color: $color-brand;
    &::after {
      width: 100%;
      background: $color-brand;
    }
  }
}
