.hero {
  width: 100%;
  min-height: 450px;

  background: $color-london;

  position: relative;

  display: flex;
  justify-content: center;

  padding-top: 8rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: rotate(-2deg) translate(-50%, 5%);
    z-index: -1;
    background: $color-london;
  }
}

.hero__container {
  width: 100%;
  max-width: 850px;
}
.hero__title {
  color: $color-brand;
  font-size: 3vw;
}
