.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: red; }

.header__container {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-between; }

.header__item-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: blue; }

.header__item {
  padding: 4px 12px;
  margin: 0 6px; }
