html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  letter-spacing: 2px;
  text-decoration: none; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

:root {
  -moz-tab-size: 4;
  tab-size: 4; }

body {
  font-family: 'Kanit', sans-serif; }

hr {
  height: 0; }

abbr[title] {
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em;
  top: -0.5em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  color: #333842;
  line-height: 1.5;
  font-size: 1.6rem;
  overflow-x: hidden; }

body a:focus,
body button:focus {
  outline: 0; }

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #202329; }

.header__container {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-between; }

.header__item-container {
  padding: 1rem;
  display: flex;
  align-items: center; }

.header__item {
  padding: 4px 12px;
  margin: 0 6px; }

.header__item-logo {
  display: flex;
  align-items: center; }
  .header__item-logo h1 {
    margin-left: 8px;
    color: #9500fe;
    font-size: 1.25em;
    font-weight: 900; }

.header__item-link {
  color: #f5f5f5;
  transition: all 0.1s ease-in-out;
  position: relative; }
  .header__item-link::after {
    transition: all 0.1s ease-in-out;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #f5f5f5; }
  .header__item-link:hover {
    color: #9500fe; }
    .header__item-link:hover::after {
      width: 100%;
      background: #9500fe; }

.hero {
  width: 100%;
  min-height: 450px;
  background: #282c34;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 8rem; }
  .hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: rotate(-2deg) translate(-50%, 5%);
    z-index: -1;
    background: #282c34; }

.hero__container {
  width: 100%;
  max-width: 850px; }

.hero__title {
  color: #9500fe;
  font-size: 3vw; }
